{% extends "base.html" %} {% block content %}
<main class="container">
    <div class="card">
        <h2>Cadastrar Aluno</h2>
        
        <form method="POST">
            {% csrf_token %}
            
            {% for field in form %}
                <div class="form-group">
                    <label>{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="error">{{ field.errors }}</div>
                    {% endif %}
                </div>
            {% endfor %}

            <button type="submit" class="btn-primary">Adicionar</button>
        </form>
    </div>
</main>
{% endblock %}